body {
    background-color: black;
    margin: 0;
}

h1 {
    color: #FFFFFF;
    text-align: left;
    font-family: 'Belleza', sans-serif;
    font-size: 32px;
    padding: 10px;
}

h2 {
    color: #FFFFFF;
    text-align: left;
    font-family: 'Belleza', sans-serif;
    font-size: 28px;
    padding: 10px;
}

h3 {
    color: #FFFFFF;
    text-align: left;
    font-family: 'Belleza', sans-serif;
    font-size: 24px;
}

h4 {
    color: #FFFFFF;
    text-align: left;
    font-family: 'Belleza', sans-serif;
    font-size: 20px;
}

p {
    text-align: left;
    color: #FFFFFF;
    font-family: 'Cutive Mono', monospace;
    font-size: 16px;
  }

.heroImg {
    height: 600px;
    padding: 10px;
    background-color: #800F37;
  }
 
.skills {
    background-color: #800F37;
    padding: 25px;
  }

  nav li {
    width: 23%;
    padding: 1%;
    color: #FFFFFF;
    display:inline;
    font-family: 'Belleza', sans-serif;
    font-size: 16px;
    text-align: center;
}
 .nav a{
    display:inline-block;
    padding:10px;
}
.nav {
    width: 100%;
    padding: 1%;
    float: right;
    display: inline-block;
    vertical-align: top;
    text-align:center;
    display: flex;
    justify-content: space-between;
}

ul {
    width: 50%;
    margin-left: auto;
}

.logo {
    width: 23%;
    padding: 1%;
    text-align: center;
    float: left;
}

.inline-block {
    padding: 5px;
    display: inline-block;
    vertical-align: top;
  }

  .content {
    width: 500px;
    margin: 0 auto;
}

footer {
    background-color: #215053;
    padding: 10px;
    width: 100%;
}

footer-pos {
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer p {
    display: inline-block;
    vertical-align: top;
    padding: 10px;
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
li {
    float: right;
    display: inline;
  }
  
li a {
    color: #FFFFFF;
    display: block;
    padding: 8px;
    text-decoration: none;
  }

  .button {
    border: none;
    background-color: white;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Belleza', sans-serif;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    align: center
  }

  .button:hover {
    background-color: #800F37;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }

.img-fluid {
    padding: 10px;
}
  .flex_item {
    padding:5px;
    margin: 5px;
    background-color: #800F37;
    color: white;
    flex: 1 1 300px;
  }
  .flex {
    display: flex;
    padding: 10px;
    margin: 10px;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  #column {
    background-color: #E6F5FF;
    flex-direction: column;
  }
  
  #row {
    flex-direction: row;
  }
.row {
    padding: 10px
}
  .flexItem1 {
    margin: 10px;
    padding: 10px;
    width: 33.3%;
    height: 100%;
    flex-shrink: 0;
    overflow: hidden;

  }
  .flexItem2 {
    margin: 10px;
    padding: 10px;
    width: 75%;
    height: 100%;
    text-align: justify;
    flex-shrink: 0;
    overflow: hidden;
    
  }
  .flexItem3 {
    margin: 10px;
    padding: 10px;
    width: 75%;
    height: 100%;
    text-align: justify;
    flex-shrink: 0;
    overflow: hidden;
    float: left;
  }  

  .flexItem4 {
    margin: 10px;
    padding: 0px;
    width: auto;
    height: auto;
    text-align: justify;
    flex-shrink: 0;
    overflow: hidden;
    float: left;
  }  

  .flexContainer {
    display: flex;
    height: 100%;
    margin: 10px;
    padding: 10px;
    flex-shrink: 0;
    overflow: hidden;
    
  }
  .justifyContent {
    justify-content: center;
  }
  .alignItems {
    align-items: center;
  }
  img {
    flex-shrink: 0;
  }
 
  .workGrid {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
        "leftSide rightSide rightSide";
    grid-gap: 10px;
    }

  .leftSide {
      grid-area: leftSide;
      justify-content: stretch;
      align-content: space-between;
      padding: 10px;
      margin-top:-5px;
      margin-bottom:-10px;
  }

  .rightSide {
      grid-area: rightSide;
      justify-content: stretch;
      align-content: space-between;
      padding: 10px;
  }
  .accordion {
    background-color: #800F37;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
  }
  .cardContainer {
    margin-bottom: 15px;
  }
  .card {
    margin: 0 auto;
  }
  .panel {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    color: white;
}
.jumbotron {
    background-color: #800F37;
    background-image: url(Images/Screen Shot 2021-01-18 at 8.40.22 PM.png);
}

.navbar {
    background-color: black;
}

.cardContainer {
    background-color: black;
}

.card-text {
    color: black;
    font-family: 'Cutive Mono', monospace;
    font-size: 16px;
}
.casestudyhero {
   background-color: #800F37;
   padding: 10px;
}

.card-body {
    color: black;
    font-family: 'Cutive Mono', monospace;
    font-size: 16px;
}
  @media only screen and (max-width: 600px) {
    .flex_item {
        padding: 10px;
        margin: 10px;
        background-color: #800F37;
        color: white;
        flex: 1 1 300px;
      }
    img#hide {
        display: none;}

    .workGrid {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: 
            "leftSide"
            "rightSide"
            "rightSide"
            ;}

    }
